body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.bar_general{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

#name {
    font-family: 'DM Sans', sans-serif;
    color: #1B424C;
}

a{
    text-decoration: none;
    color: #000;
}

.bar {
    display: flex;
    align-items: center;
    gap: 60px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.bar a {
    font-family: 'DM Sans', sans-serif;
    transition: all 0.5 ease-in-out;
}


.bar a:hover {
    color: #0056b3;
    padding: 5px 5px;
}

.information_subgeneral{
    display: flex;
    flex-direction: column;
}

.information{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 80px;
}

#first_information{
    font-family: 'Raleway', sans-serif;
    color: #2A6877;
}

#second_information{
    font-family: 'DM Sans', sans-serif;
    color: #424545;
}

#comece{
    border-radius: 50px;
    border: 2px solid var(--c-5, #2A6877);
    width: 136px;
    padding: 12px 20px;
    padding: 0.8em;
}

#comece:hover{
    transform: scale(1.05);
}

#contato{
    border-radius: 50px;
    border: 1px solid var(--c-5, #2A6877);
    background: var(--c-5, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #2A6877);
    color: white;
    width: 170px;
    height: 49px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#contato:hover{
    transform: scale(1.05);
}

#div_services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 613px;
    border: 1px solid rgba(83, 96, 99, 0.2);
    background: rgba(186, 214, 220, 0.20);
}

#text_services{
    display: flex;
    justify-content: center;
    color: var(--c-5, #2A6877);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 55.8px; 
    letter-spacing: 0.5px;
}

#services_bank{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
}

.service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 421px;
    height: 378px;
    border-radius: 39px;
    border: 1px solid rgba(83, 96, 99, 0.2);
    background-color: rgba(186, 214, 220, 0.20);
}

#title_personal{
    color: #1B424C;
    font-family: sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
}

#title_business{
    color: #1B424C;
    font-family: sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
}

#title_auto{
    color: #1B424C;
    font-family: sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
}

#description_personal{
    color: #6F6969;
    text-align: center;
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    font-style: normal;
}

#description_business{
    color: #6F6969;
    text-align: center;
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    font-style: normal;
}

#description_auto{
    color: #6F6969;
    text-align: center;
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    font-style: normal;
}

#button_service1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid rgba(42, 104, 119, 0.49);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#button_service2{
    width: 110px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid rgba(42, 104, 119, 0.49);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#button_service3{
    width: 110px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid rgba(42, 104, 119, 0.49);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#button_service1:hover,
#button_service2:hover,
#button_service3:hover{
    transform: scale(1.05);
}

#more_description{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 201px;
    height: 49px;
    padding: 12px 20px;
    gap: 10px;
    border-radius: 50px;
    border: 0px solid var(--c-5, #2A6877);
    background: #2A6877;
    color: var(--c-2, #F0F1F3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#more_description:hover{
    transform: scale(1.05);
}

#how_work{
    width: 100%;
    height: 1370px;
    background-color: white;
}

#text_work{
    text-align: center;
    color: #2A6877;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}

@font-face {
    font-family: Stoehr;
    src: url("/tela principal/fontes/Stoehr Numbers.ttf");
}

.description_work{
    font-size: 18px;
    color: #424545;
    font-family: 'DM Sans' sans-serif;
}

.number_work{
    color: rgba(0, 0, 0, 0.603);
    font-family: Stoehr;
    font-size: 60px;
    opacity: 0.30000001192092896;
}

.work_divs{
    display: flex;
    justify-content: space-between;
}

.work_aplication_description{
    display: flex;
    flex-direction: column;
}

.number_title{
    display: flex;
    align-items: baseline;
}

.title_work{
    color: var(--c-5, #2A6877);
    font-family: 'Raleway', sans-serif;
    font-size: 33px;
}

#about_us{
    display: flex;
    width: 100%;
    height: 618px;
    padding: 90px 125px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    background: linear-gradient(135deg, rgba(201, 228, 222, 0.60) 4.67%, rgba(206, 228, 224, 0.46) 44.88%, rgba(208, 228, 224, 0.41) 50.92%, rgba(223, 227, 231, 0.00) 100%);
}

#text_about{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#information_about{
    color: var(--c-5, #2A6877);
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55.8px; /* 139.5% */
    letter-spacing: 0.5px;
}

#description_about{
    color: #424545;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
}

#div_register{
    display: flex;
    margin-left: 200px;
    margin-top: 100px;
    flex-direction: column;
    width: 300px;
    padding: 45px 47px;
    gap: 10px;
    border-radius: 21px;
    background: #FFF;
}

.register{
    font-size: 16px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.text_register{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    font-size: 15px;
}

#submit_register{
    border-radius: 50px;
    border: 1px solid var(--c-5, #2A6877);
    padding: 12px 36px;
    background: var(--c-5, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #2A6877);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#submit_register:hover{
    transform: scale(1.05);
}

#div_contact{
    background-image: url('/tela principal/imagens/montanhas.png');
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.wise_mission{
    display: flex;
    flex-direction: column;
    margin: 20px;
}


#contact_wiseinvest{
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
}

#mission_wiseinvest{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#contact_us{
    color: white;
    font-family: 'Raleway', sans-serif;

}

.adress_mission{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.contact_mission{
    margin: 50px;
}