{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'contas/css/style_poscadastro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500&family=Quicksand:wght@300;400&family=Raleway:wght@100;200;300;400;500&display=swap"
        rel="stylesheet">
    <title>Dados</title>
</head>

<body>
    <script src="app4.js">

    </script>
    <div id="container">
        <img class="image" src="{% static 'contas/img/imagens/design-software 1.png' %}" alt="design-software">
        <div class="container_text">
            <div class="text_top">
                <h1>Seus dados foram enviados!</h1>
                <img src="{% static 'contas/img/imagens/check-circle 2.png' %}" id="check" alt="check-circle" width="30px">
                <h3>Nosso sistema recebeu seus dados com<br>
                    sucesso. Agora iremos analisar e em breve<br>
                    retornaremos com uma mensagem.</h3>
                <h3>Verifique seu e-mail!</h3>
                <a href="{% url 'contas:redict_home' %}">Clique aqui para voltar</a>
            </div>
        </div>
        <img class="image" src="{% static 'contas/img/imagens/mental-health 1.png' %}" alt="mental-health" >
    </div>
</body>

</html>